.backcroundanacayfas{
  background-image: url('background.png');
  background-size: 100% 100%;
  background-attachment: fixed;
}
.linkc{
  color:#e9cee9;
  text-decoration: none;
}
.div_background{
  background-color: rgb(83, 44, 44);
  float:left;
  width:13.5%;
  padding:20px;
  height:21%;
  margin-left:5px;
  margin-bottom:20px; 
}
/**************************************************************************************************************************/
/********************************************************cv****************************************************************/
.cv{
  background-color: lightskyblue;
}
.imagstyleincv{
  width:40%; 
  height:50%;
  padding-left: 550px;
}
