.menu{
  background-image: url('background.png');
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden; 
}

.div_background {
  text-decoration: none;
  color: #fff;
  background-color: #4c53af;
  padding: 10px 60px;
  margin: 10px;
  border-radius: 5px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left; 
}

.linkc {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.linkc:hover {
  color: #000000;
}
/**************************************************************************************************************************/
/********************************************************cv****************************************************************/
.cv {
  display: flex;
  flex-direction: row; 
  
}
.imagstyleincv {
  flex: 1; 
  margin-right: 20px;
}
.imagstyleincv img {
  width: 100%;
  height: auto;
  
}
.text {
  flex: 2;
  text-align: justify;
  color: rgb(0, 0, 0);
  font-family:'Times New Roman', Times, serif;

}
.backcroundanacayfas_cv
{
  background-image: url(cv_back.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
.imagstyleincv_t {
  width: 55%;
  height: 100%;
}
